/* Layout */

#url-rewriting-warning {
    display:none;
}

body {
	padding-top: 70px; /* 70px to make the container go all the way to the bottom of the topbar */
}
.affix {
	position: fixed;
	top: 60px;
	width: 220px;
}

/* Custom container - Full width*/
.container-full {
  margin: 0 auto;
  width: 100%;
}

/* Custom navbar */
.navbar-brand ,.navbar-nav>li>a {
  	padding-left: 30px;
    padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
} 
.navbar-nav>.active>a {
	opacity:.6;
}

.user-info{
	margin-right: 60px;
}